<!doctype html>
<html>
<head>
    <title>About sACN Translator</title>
<meta charset="UTF-8">
<style>
    body
    {
        font-family: Helvetica, Arial;
        background:#ffffff;
    }    
    #container
    {
        position: relative;
    }
    
    #divLicense
    {
        background: #dddddd;
        font-style: italic;
    }
    
    .code
    {
        font-family: Courier New, monospace;
        background: #eee;
    }
    
</style>
</head>
<body>
<div id="container">
    <div id="title"><h1>About sACN Translator</h1></div>
    <div id="divBody">sACN Translator was written by Joseph Adams and is distributed under the MIT License.
        <br /><br />
        <div id="divLicense">
            Copyright 2018 Joseph Adams.<br /><br />
            Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
<br /><br />
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
<br /><br />
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </div><br /><br />
        To contact the author or for more information, please visit <a id="bloglink" href="http://www.techministry.blog">www.techministry.blog</a>.
        <br /><br />
        <h2>Documentation</h2>
        <i>sACN Translator</i> supports a generic REST API.<br /><br />
        <b>Universes:</b><br />
        sACN Translator can listen to multiple universes of Streaming ACN data. By default, it will listen on Universe 1.
        <br /><br />
        <i>Getting All Universes:</i><br />
        Make a GET request to <span class="code">/api/universes</span> to receive a JSON reply of all universes that are currently being listened to.<br />
        <i>Adding a Universe</i><br />
        Make a POST request to <span class="code">/api/universe/add/<i>universe</i></span>, where universe is the universe number to add.
        <br /><br />
        <i>Deleting a Universe</i><br />
        Make a POST request to <span class="code">/api/universe/delete/<i>universe</i></span>, where universe is the universe number to delete.
        <br /><br />
        Any time a universe is added or deleted, the listening service will be restarted.
        <br /><br />
        <b>Fixtures:</b><br />
        sACN Translator uses Fixture addresses to listen to their corresponding DMX values to then trigger an action.
        <br /><br />
        <i>Getting All Fixtures:</i><br />
        Make a GET request to <span class="code">/api/fixtures</span> to receive a JSON reply of all available fixtures.<br />
        Fixture objects are defined as:<br />
        <ul>
            <li><span class="code">"id"</span>: Unique ID generated by the server upon creation of the Fixture object.</li>
            <li><span class="code">"name"</span>: The friendly name of the fixture.</li>
            <li><span class="code">"universe"</span>: The Universe that this fixture is considered to be on. This Universe must be added to the list of universes in order for the service to listen to sACN changes on that universe.</li>
            <li><span class="code">"address"</span>: The DMX Address that this fixture is considered to be on.</li>
            <li><span class="code">"triggerValue"</span>: The DMX Trigger Value to watch for, to trigger the action. Must be a value between 0 and 255.</li>
            <li><span class="code">"actionType"</span>: The type of action to be performed when triggered. Example: HTTP</li>
            <li><span class="code">"action"</span>: The action to be performed, i.e. a URL.</li>
        </ul>
        <i>Getting a specific Fixture:</i><br />
        Make a GET request to <span class="code">/api/fixture/<i>fixtureID</i></span>, where fixtureID is the ID of the fixture, to receive a JSON reply of the fixture information.<br />
        If an invalid Fixture ID is specified, a reply of <span class="code">{returnStatus: "invalid-fixture-id"}</span> will be returned.
        <br /><br />
        <i>Adding a Fixture:</i><br />
        Make a POST request to <span class="code">/api/fixture/add</span>, specifying all the Fixture object data, except for the ID, which will be automatically generated. The newly created Fixture object will be returned as a JSON reply.
        <br /><br />
        <i>Updating a Fixture:</i><br />
        Make a POST request to <span class="code">/api/fixture/<i>fixtureID</i></span>, where fixtureID is the ID of the Fixture object, along with a JSON Fixture object in the POST body. It will return the updated Fixture object as a JSON reply.
        <br /><br />
        <i>Deleting a Fixture:</i><br />
        Make a POST request to <span class="code">/api/fixture/delete/<i>fixtureID</i></span>, where fixtureID is the ID of the Fixture object.
        <br /><br />
        <b>Restarting The Service:</b><br />
        Make a GET request to <span class="code">/api/restart</span> to restart the listening service.
    </div>
</div>
</body>
</html>